name: CI
on:
  push:
    branches:
      - main
    paths:
      - '.actrc'
      - '.github/workflows/CI.yaml' # We want to run this workflow on any changes to this file
      - 'ScheduledTasksManager/**'
      - 'build.ps1'
      - 'build.psake.ps1'
      - 'build.depend.psd1'
      - 'tests/**'
  pull_request:
    branches:
      - main
jobs:
  test:
    name: Run Tests
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
    steps:
    - uses: actions/checkout@v4
    - name: Build Task - Test
      run: | # powershell
        ./build.ps1 -Task 'Test' -Bootstrap
    - uses: actions/upload-artifact@v4                # upload test results
      if: ${{ (success() || failure()) && !env.ACT }} # run this step even if previous step failed but do not run if it is running locally
      with:
        name: test-results
        path: ./tests/out/testResults.xml
